In [ ]:
num = 3
print(num)

In [ ]:
num1 = 13
num1

In [ ]:
num2 = 25
num2

In [ ]:
num2 = 77
num2

In [ ]:
# type : 변수의 자료형 확인
type(num2)

In [ ]:
num3 = 3.1425
num3

In [ ]:
num4 = 1.25
num4

In [ ]:
num4 = 3.12
num4

In [ ]:
type(num4)

In [ ]:
str1 = "Funny python"
str1

In [ ]:
str2 = 'Easy python'
str2

In [ ]:
type(str2)

In [ ]:
number = 10
Number = 20
print("number :",number)
print("Number :",Number)

In [ ]:
# 1a = 10 숫자로 시작 할 수 없다. 오류

In [ ]:
#변수로 예약어 사용이 불가능하다.(명령어는 가능하지만 원래 기능이 사라짐)
#if for class def 예약어 sum max min 명령어

In [ ]:
import keyword
keyword.kwlist

In [ ]:
a = 10
b = 15
print(a)
print(b)

In [ ]:
a, b = 10, 15
print(a)
print(b)

In [ ]:
str1 = "python"
str2 = "python"
print(str1)
print(str2)

In [ ]:
str1 = str2 = "python"
print(str1)
print(str2)

In [3]:
x = 100
y = 200
sum_xy = x + y
print(sum_xy)

300

In [1]:
sum([1,2,3,4])

10

In [7]:
s1 = "she's gone"
s2 = 'she\'s gone'
print(s1)
print(s2)

she's gone
she's gone

In [8]:
s1 = 'he said that "she is gone"'
s2 = "he said that \"she is gone\""
print(s1)
print(s2)

he said that "she is gone"
he said that "she is gone"

In [9]:
s = "여러줄로 구성된 \n문자열을 하나로 대입할 때"
print(s)

여러줄로 구성된
문자열을 하나로 대입할 때

In [10]:
s= '''여러줄로 구성된
문자열을 하나로
대입할 때'''
print(s)

여러줄로 구성된
문자열을 하나로
대입할 때

In [11]:
s ="""여러줄로 구성된
문자열을 하나로
대입할 때"""
print(s)

여러줄로 구성된
문자열을 하나로
대입할 때

In [12]:
s ="""여러줄로 구성된
문자열을 \t하나로
대입할 때"""
print(s)

여러줄로 구성된
문자열을 	하나로
대입할 때

In [14]:
s = "My name is JH"
print(s[-1])
print(s[12])

H
H

In [16]:
s = "my name is JH"
print(s[0:2])
print(s[3:7])
print(s[8:10])

my
name
is

In [17]:
s = "MY name is SW"
print(s[0:7])
print(s[:7])

MY name
MY name

In [21]:
s = "MY name is SW"
print(s[8:13])
print(s[-5:])
print(s[8:])

is SW
is SW
is SW

In [26]:
s = "MY name is SW"
print(s[0:])
print(s[0:13])
print(s[-13:])
print(s[:])
print(s)

MY name is SW
MY name is SW
MY name is SW
MY name is SW
MY name is SW

In [30]:
s = "2020년 3월 3일의 날씨는 맑음입니다."
print("날짜 :", s[0:11])
print("날짜 :", s[-6:-4])

날짜 : 2020년 3월 3일
날짜 : 맑음